# Assignment on Store_sales dataset

**Load the Dataset**

In [42]:
import pandas as pd
df=pd.read_csv("store_sales.csv")

**Calculate the total sales for each store across all months.**

In [40]:
df=pd.read_csv("store_sales.csv")
df['Total_Sales'] = df.iloc[:, 2:].sum(axis=1)
result = df[['store_id', 'Total_Sales']]
print(result)

   store_id  Total_Sales
0       S_1          178
1       S_2          174
2       S_3          181
3       S_4          135
4       S_5          159
..      ...          ...
95     S_96          185
96     S_97          154
97     S_98          168
98     S_99          173
99    S_100          180

[100 rows x 2 columns]

**Find the average sales for each month across all stores**

In [44]:
average_sales = df.iloc[:, 2:].mean(axis=0)


print(average_sales)

Jan     14.46
Feb     15.09
Mar     14.56
Apr     14.57
May     13.56
Jun     13.80
July    14.38
Aug     15.81
Sep     14.91
Oct     14.10
Nov     15.31
Dec     13.57
dtype: float64

**Identify the store with the highest total sales.**

In [48]:
df['Total_Sales'] = df.iloc[:, 2:].sum(axis=1)
highest_sales_store = df.loc[df['Total_Sales'].idxmax()]
print("Store with the highest total sales:")
print(highest_sales_store[['store_id', 'Total_Sales']])

Store with the highest total sales:
store_id       S_62
Total_Sales     428
Name: 61, dtype: object

**Calculate the total sales for each city.**

In [50]:
df['Total_Sales'] = df.iloc[:, 2:].sum(axis=1)

city_sales = df.groupby('city')['Total_Sales'].sum()

print("Total sales for each city:")
print(city_sales)

Total sales for each city:
city
Arizona       11853
California    22566
Texas         17817
Name: Total_Sales, dtype: int64

**List stores with total sales greater than 200**

In [52]:

df['Total_Sales'] = df.iloc[:, 2:].sum(axis=1)

stores_with_high_sales = df[df['Total_Sales'] > 200]

print("Stores with total sales greater than 200:")
print(stores_with_high_sales[['store_id', 'Total_Sales']])

Stores with total sales greater than 200:
   store_id  Total_Sales
0       S_1          712
1       S_2          696
2       S_3          724
3       S_4          540
4       S_5          636
..      ...          ...
95     S_96          740
96     S_97          616
97     S_98          672
98     S_99          692
99    S_100          720

[100 rows x 2 columns]

**Which month had the highest average sales across all stores?**

In [60]:

average_sales_per_month = df.iloc[:, 2:].mean()

highest_avg_month = average_sales_per_month.idxmax()
highest_avg_value = average_sales_per_month.max()

print(f" {highest_avg_month} with average sales value of {highest_avg_value:.2f}.")

 Total_Sales with average sales value of 696.48.

**Which city generated the most revenue?**

In [62]:

df['Total_Sales'] = df.iloc[:, 2:].sum(axis=1)


city_revenue = df.groupby('city')['Total_Sales'].sum()

highest_revenue_city = city_revenue.idxmax()
highest_revenue_value = city_revenue.max()

print(f" {highest_revenue_city} with a total revenue of {highest_revenue_value}.")

 California with a total revenue of 37610.